body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul img {
  width: 130px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

/* Inicio estilização dos slides */
.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slides { 
  width: 400%;
  height: 400px; 
  display: flex; 
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 0.5s;
}
 
.slide img {
  width: 100%;
  height: 100%;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
} 

.manual-btn:hover {
  background-color: white;
} 
 
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
} 

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

.navigation-auto div{
  border: 2px solid #04AA6D;  
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
} 
/* Final estilização dos slides */

main{
  padding: 0px
}

.txt-h1{
  margin: 50px 0 0 250px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  padding: 200px;
  margin-top: -170px;
}

.card {
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 280px;
}

.card-img {
  display: flex;
  flex: 4;
  overflow: hidden;
}

.card-img img {
  border-radius: 6px;
}

.card-btn {
  display: flex;
  flex: 2;
  flex-direction: column;
}

button {  
  cursor: pointer;
  margin:auto;
  margin-top: 12px;
  min-width: 70px;
  border: solid 1px;
  background-color: #098a5b;
  color: white;
  border-radius: 7px;
  padding: 7px;   
  cursor: pointer;
}

button:hover {
  background-color: #04754c;
}

footer{
  margin-top: 15px;
  background-color: #333333;
}

#footer1{
  margin-left: 10px;
  
}

#footer1 a{
  color: white;
  text-decoration: none;
}

#footer2{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}