* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

img {
    width: 300px;
    height: 250px;
} 

button {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 7px;
    border: solid 1px;
    background-color: #04AA6D;
    padding: 6px 58px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #128058;
}

.banner {
    display: block;
    padding: 150px;
    border: #111111 solid 4px;
}

.txt-h3 {
    margin: 20px 150px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 130px;
    padding: 10px 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 60px;
    text-align: end;
    background-color: #f1f1f1;
}

.img-banner {
    margin-block: 100%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}